%% vim: ft=erlang
{erl_opts, [debug_info]}.
{deps, [
        {sync, "0.4.1"}
       ]}.

{overrides, [
             {override, fs, [
                             {port_env, [
                                         {"darwin", "LDFLAGS", "-framework CoreFoundation -framework CoreServices"},
                                         {"darwin", "CC", "xcrun -r clang"},
                                         {"darwin", "CFLAGS", "-Wno-deprecated-declarations"},
                                         {"freebsd", "LDFLAGS", ""},
                                         {"freebsd", "CC", "cc"},
                                         {"freebsd", "CFLAGS", ""}
                                        ]}
                            ]}
            ]}.
