%% vim: ft=erlang
{deps, [
       ]}.

{profiles, [
    {default, []},
    {dev, [
        {deps, [
                {sync, "0.4.1"}
               ]},
        {erl_opts, [debug_info]}
    ]},
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.

{overrides, [
             {override, fs, [
                             {port_env, [
                                         {"darwin", "LDFLAGS", "-framework CoreFoundation -framework CoreServices"},
                                         {"darwin", "CC", "xcrun -r clang"},
                                         {"darwin", "CFLAGS", "-Wno-deprecated-declarations"},
                                         {"freebsd", "LDFLAGS", ""},
                                         {"freebsd", "CC", "cc"},
                                         {"freebsd", "CFLAGS", ""}
                                        ]}
                            ]}
            ]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
     {extras, ["README.md", "LICENSE.md"]},
     {main, "README.md"},
     {source_url, "https://github.com/eportald/eportald/tree/master/rlp"},
     {homepage_url, "https://eportald.org/"}
]}.
