%% vim: ft=erlang
{erl_opts, [debug_info]}.

{deps, [
        {sync, "0.4.1"},
        {libsecp256k1, "0.1.15", {pkg, libsecp256k1_nash_fork}},
        {hkdf, {git, "https://github.com/schnef/hkdf.git", {branch, "master"}}},
        {rlp, {}},
        {enr, {}},
        {keccak, {}},
        {gproc, "1.0.0"}
       ]}.

{shell, [
  {config, "config/sys.config"},
    {apps, [discv5, gproc]}
]}.
