%% vim: ft=erlang

{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc, rebar3_hex, rebar3_ex_doc]}.

{port_specs, [
    {"priv/keccak.so", ["c_src/*.c"]}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
     {extras, ["README.md", "LICENSE.md"]},
     {main, "README.md"},
     {source_url, "https://github.com/eportald/eportald/tree/master/keccak"},
     {homepage_url, "https://eportald.org/"}
]}.
