%% vim: ft=erlang
%%
{erl_opts, [debug_info]}.
{deps, [
        {libsecp256k1, "0.1.15", {pkg, libsecp256k1_nash_fork}},
        {keccak, {}},
        {rlp, {}},
        {sync, "0.4.1"}
       ]}.

{shell, [
    {apps, [enr, sync, syntax_tools, compiler]}
]}.

{plugins, [rebar_mix]}.

{provider_hooks, [
  {post, [{compile, {mix, consolidate_protocols}}]}
]}.
